//Variables
$bg-img: url("../assets/sci-fi1.jpg");
$canvas-size-img: url("../assets/BlueFalconX.jpg");

$theme-colors: (
	"primary": #420099
);

body html {
	margin: 0;
	padding: 0;
}

#game {
	margin: 0;
	overflow: hidden;
}

.backgroundimg {
	background-image: $bg-img;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.playBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 19%;
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
}
.optionsBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 19%;
	top: 60%;
	left: 40%;
	transform: translateY(-50%);
}
.leaderboardBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 19%;
	top: 70%;
	left: 40%;
	transform: translateY(-50%);
}
.soloBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 19%;
	top: 80%;
	left: 40%;
	transform: translateY(-50%);
}
.multiplayerBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 19%;
	top: 94%;
	left: 40%;
	transform: translateY(-50%);
}
.backMenuBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 8%;
	top: 94%;
	left: 90%;
	transform: translateY(-50%);
}
.resumeBtn {
	position: absolute;
	font-family: "Faster One", cursive;
	width: 12%;
	top: 94%;
	left: 2%;
	transform: translateY(-50%);
}

.col-sm-6 {
	position: relative;
	font-family: "Orbitron", sans-serif;
	top: 50%;
}

#Title {
	position: relative;
	font-family: "Faster One", cursive;
	color: #ffffff;
	top: 15%;
}
#Pause {
	font-family: "Faster One", cursive;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cardsBoxes {
	position: relative;
	top: 5%;
}
.wasdImg1 {
	position: relative;
	float: left;
	height: 39%;
	width: 39%;
	top: 15px;
}

.wasdImg2 {
	position: relative;
	float: right;
	height: 41%;
	width: 41%;
	bottom: 17px;
}
.controlerImg {
	position: relative;
	left: 29%;
}
.card-boady2 {
	position: relative;
}

.canvasCard {
	position: relative;
	height: 50%;
	width: 60%;
	left: 20%;
	margin-top: 3%;
}
.canvasCardPause {
	position: relative;
	height: 50%;
	width: 60%;
	left: 20%;
	margin-top: 3%;
	filter: brightness(50%);
}

.leaderboardsCard {
	position: relative;
	width: 50%;
	top: 150px;
}
.headerCtrl {
	height: auto;
	width: auto;
	text-align: center;
}

#timer {
	position: absolute; /* let us position ourself inside the container */
	left: 0; /* make our position the top left of the container */
	top: 100px;
	color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}
#timer > div {
	position: absolute; /* let us position them inside the container */
	left: 80px !important; /* make their default position the top left of the container */
	top: 0;
	font-size: xx-large;
	font-family: monospace;
	user-select: none; /* don't let the text get selected */
	text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
		1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000; /* create a black outline */
}

#pause {
	position: absolute; /* let us position ourself inside the container */
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: white;
	display: none;
	z-index: 200;
}

.pauseContainer {
	width: 30%;
	height: 50%;
	margin: 200px auto auto;
	padding-top: 6em;
	background-color: rgba(0, 0, 0, 0.7);
}

.pauseTxt {
	margin: auto 20px auto;
	font-size: 3em;
	font-family: "Faster One", cursive;
}

.pauseBtnContainer {
	width: 50%;
	height: 100%;
	margin: auto;
	padding-top: 5em;
	text-align: center;
	overflow: hidden;
}

.pauseBtns {
	display: block;
	min-width: 250px;
	margin: 2em auto auto;
	font-family: "Faster One", cursive;
}

#goalLine-panel {
	position: absolute; /* let us position ourself inside the container */
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: white;
	display: none;
	z-index: 200;
}

.panelContainer {
	width: 50%;
	height: 70%;
	margin: 150px auto auto;
	padding-top: 4em;
	background-color: rgba(0, 0, 0, 0.7);
}

.panelTxt {
	font-family: "Faster One", cursive;
}

#panelTagTxt {
	width: 50%;
	margin: 1.5em auto auto;
}
.timeLbl {
	margin: 15px auto auto;
	font-family: "Faster One", cursive;
}

.panelSaveLbl {
	margin: 1.5em auto auto;
	font-family: "Faster One", cursive;
}

.panelBtnContainer {
	width: 50%;
	height: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

.panelBtns {
	display: block;
	min-width: 250px;
	margin: 2em auto auto;
	font-family: "Faster One", cursive;
}

//Bootstrap sass files
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
